$vars: (
    primary: #07a067,
    primary-hover: #10ba7c,
    radius: 5px,
);

$light: (
    body: #e6eaf2,
    text: #111
);

$dark: (
    body: #222,
    text: #e6eaf2
);

html {

    color-scheme: light dark;

    @each $name, $value in $vars{
        --#{$name}: #{$value};
    }

    
    @each $name, $value in $light {
        --#{$name}: #{$value};
    }   
    
    &.dark{
        @each $name, $value in $dark {
            --#{$name}: #{$value};
        }
    }

}