/**
* @file /src/actions/index.jsx
*/
/**
* @file /src/app/error.jsx
*/
.fYPlPY{display:flex;}
.cYzzZY{flex-direction:column;}
.aKLvk6{align-items:center;}
.jxkoVx{justify-content:center;}
.aY1l2K{position:absolute;}
.aKnLq6{top: 50%;left: 50%;transform: translate(-50%, -50%);}
.cKrgbY{color: #777;}
.fsx5vvK{font-size: 50px;}
.fwxVwkK{font-weight: 900;}
.fsKwWNK{font-size: 24px;}
.fsYaBE6{font-size: 30px;}
.mtKnqRx{margin-top: 20px;}
.fsYGEWx{font-size: 18px;}
/**
* @file /src/app/layout.jsx
*/
/**
* @file /src/app/page.jsx
*/
.pKr856{padding: 25px;}
.wYMA0Y{width: 100vw;}
.hYbAnK{height: 100vh;}
/**
* @file /src/app/wrapper.jsx
*/
.mhx22Mx{min-height: 100vh;}
/**
* @file /src/config.jsx
*/
/**
* @file /src/middleware.jsx
*/