.faxGr{display:flex;}
.cboVz{flex-direction:column;}
.aavor{align-items:center;}
.jbk2x{justify-content:center;}
.aboVz{position:absolute;}
.adLAp{top: 50%;left: 50%;transform: translate(-50%, -50%);}
.ceZD5{color: #777;}
.fseVv5{font-size: 50px;}
.fwaQ8L{font-weight: 900;}
.fsbmOp{font-size: 24px;}
.fsep81{font-size: 30px;}
.mtbq7r{margin-top: 20px;}
.fsejZW{font-size: 18px;}
.pbkZX{padding: 25px;}
.wenR4{width: 100px;}
.he087{height: 100px;}
.mhe5Rx{min-height: 100px;}